.hobby {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    font-size: 15px;
}

body {
    background: darkgreen;
    font-family: "Segoe UI";
}

h1 {
    text-align: center;
    margin-top: 0px;
}

#wrapper {
    width: 720px;
    background: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 12px;
}

h2 {
    border-left: 3px solid orange;
    padding-left: 5px;
}

a {
    color: steelblue;
}

a:visited {
    color: darkblue;
}